.container {
    padding-top: 250px;
}

.btn-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h4,h5 {
    text-align:center;
    text-transform: uppercase;
}